<p style="color: green"><%= notice %></p>

<h2>現在 <%= current_user.name %> さんがログインしています</h2>
<h4>メールアドレス： <%= current_user.email %></h4>
<%= image_tag(current_user.icon, size: '300x200') if current_user.icon.attached? %><br />
<%= link_to "プロフィール編集", edit_user_registration_path %>
<%= button_to "ログアウト", destroy_user_session_path, method: :delete %>

<h1>Blogs</h1>

<div id="blogs">
  <% @blogs.each do |blog| %>
    <%= render blog %>
    <p>
      <%= link_to "Show this blog", blog %>
    </p>
  <% end %>
</div>

<%= link_to "New blog", new_blog_path %>
