<%= form_with(model: contact) do |form| %>
  <% if contact.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.radio_button :category, '0' %>
    <%= form.label :category, "Achieve", {value: 0, style: "display: inline-block;"} %>
    <%= form.radio_button :category, '1' %>
    <%= form.label :category, "テキスト", {value: 1, style: "display: inline-block;"} %>
    <%= form.radio_button :category, '2' %>
    <%= form.label :category, "説明会", {value: 2, style: "display: inline-block;"} %>
    <%= form.radio_button :category, '3' %>
    <%= form.label :category, "その他", {value: 3, style: "display: inline-block;"} %>
  </div>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
